<% layout('usuario-comum.ejs') %>
<form method=post>
	<div class="form-group">
		<label for="nome-jogo">Nome do jogo</label>
		<input type="text" class="form-control" id="nome-jogo" name='nome' placeholder="Nome do jogo">
	</div>
	<div class="form-group">
		<label for="nome-jogo">Video do jogo</label>
		<input type="text" class="form-control" id="video-jogo" name='video' placeholder="Video do jogo">
	</div>
	<button type="submit" class="btn btn-primary">Cadastrar</button>
</form>